*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

html{
    scroll-behavior:smooth; /* smooth scroll */
}

body{
    background: linear-gradient(135deg,#0f3f3b,#2ea085);
    color:#fff;
    position:relative;
    overflow-x:hidden;
    opacity: 1.20;
}

/* ლოგო background-ში */
body::before{
    content:"";
    position:fixed;
    top:0;
    left:50%;
    transform:translateX(-50%);
    width:1000px;
    height:100vh;

    background:url("image/logo.png") no-repeat center top;
    background-size:800px;

    opacity:0.90; /* რამდენად მკრთალი იყოს */

    pointer-events:none;

    /* Fade out ქვემოთ */
    mask-image: linear-gradient(to bottom, black 0%, black 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 40%, transparent 100%);
}

header{
    display:flex;
    align-items:center;
    gap:15px;
    padding:20px 60px;
}

.logo{
    width:200px;
}

/* HERO SECTION */

.hero{
    position:relative;
    min-height:100vh;

    background: 
        linear-gradient(to bottom, rgba(15,63,59,0.85), rgba(15,63,59,0.95)),
        url("image/hero-bg.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    align-items:center;
}


.wrapper{
    width:1100px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* ტექსტი მარცხნივ */
.text-side{
    width:550px;
}

/* ღილაკი */
.btn{
    display:inline-block;
    padding:8px 18px;
    background:#ffffff;
    color:#0f3f3b;
    border-radius:20px;
    text-decoration:none;
    margin-bottom:15px;
    font-size:14px;
}

/* ფოტო მარჯვნივ */
.image-side{
    width:400px;
    text-align:right;
}

.image-side img{
    width:350px;
}


h2{
    margin-bottom:15px;
}

.subtitle{
    margin-bottom:25px;
    opacity:0.9;
}

h3{
    margin-top:30px;
    margin-bottom:10px;
}

ul{
    margin-left:20px;
    margin-bottom:15px;
    justify-content: left ;
}

ul li{
    margin-bottom:8px;
}

.usage{
    margin-top:25px;
    padding:20px;
    background:rgba(255,255,255,0.15);
    border-radius:10px;
}

.age{
    color:#ffdede;
    font-weight:bold;
}

.contact-btn{
    margin-top:30px;
    text-align:center;
}

.contact-btn a{
    display:inline-block;
    padding:14px 35px;
    background:#fff;
    color:#0f3f3b;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.contact-btn a:hover{
    background:#0f3f3b;
    color:#fff;
    border:1px solid #fff;
}

/* CONTACT SECTION */

.contact{
    background:#ffffff;
    color:#000;
    padding:80px 20px;
    text-align:center;
}

.contact h2{
    margin-bottom:25px;
}
/* FOOTER */

.footer{
    position:relative;
    background:linear-gradient(135deg,#0c2f2b,#145e53);
    color:#fff;
    padding-top:120px;
}

.wave{
    position:absolute;
    top:-1px;
    left:0;
    width:100%;
    height:120px;
    background:url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 320' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%230c2f2b' fill-opacity='1' d='M0,160L80,144C160,128,320,96,480,101.3C640,107,800,149,960,165.3C1120,181,1280,171,1360,165.3L1440,160L1440,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
    background-size:cover;
    background-repeat:no-repeat;
}

.footer-content{
    max-width:1100px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    gap:40px;
    padding:40px 20px;
    flex-wrap:wrap;
}

.footer-left{
    flex:1;
    min-width:250px;
}

.footer-left h2{
    margin-bottom:15px;
}

.footer-right{
    flex:1;
    min-width:250px;
}

.footer-right p{
    margin-bottom:10px;
}

.footer a{
    color:#9ff3e6;
    text-decoration:none;
    transition:0.3s;
}

.footer a:hover{
    color:#ffffff;
}

.copyright{
    text-align:center;
    padding:20px;
    background:#0a2421;
    font-size:14px;
    opacity:0.8;
}
